.idea
node_modules/
dist
platforms
plugins
npm-debug.log
.config.xml.swp
.*.*.sw*
cordova/www/*
/src/js/build.js
.gulp
/src/js/cordova/build.js
/cordova/src/js/build.js
/cordova/cordova/www/js/build.js
/src/js/src/js/build.js
