<!DOCTYPE html>
<html ng-app="peloApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi">
    <meta http-equiv="Content-Security-Policy" content=""/>

    <title>Pelo Riders App</title>
    <link rel="stylesheet" href="css/default.css">

    <!--
    <script type="text/javascript" charset="utf-8" src="./node_modules/requirejs/require.js"></script>
    -->
    <script type="text/javascript">
        //require('optimist');
        //require('cordova-lib');
    </script>

    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova_plugins.js"></script>

    <script type="text/javascript" charset="utf-8" src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./node_modules/angular/angular.js"></script>


    <script type="text/javascript" charset="utf-8" src="./node_modules/ng-cordova/dist/ng-cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="./node_modules/ionic/node_modules/ionic-app-lib/ionic.js"></script>

    <script type="text/javascript" charset="utf-8" src="./node_modules/ng-cordova/src/plugins/facebook.js"></script>

    <script type="text/javascript" charset="utf-8" src="js/storage.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/dom.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/map_location.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/ajax.js"></script>


    <!--
    <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="https://cdn.rawgit.com/driftyco/ng-cordova/master/dist/ng-cordova.min.js"></script>
    <script src="https://cdn.rawgit.com/nraboy/ng-cordova-oauth/master/dist/ng-cordova-oauth.min.js"></script>
    -->

    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmSX4qpXNc1-aREjx3lsHqmtmpMFPd8Bk&callback=initMap2" defer async></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    -->

    <!--
    -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src='./node_modules/mapbox/dist/mapbox-sdk.js'></script>

    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <link href="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css" rel="stylesheet">

    <!-- https://github.com/nevins-b/javascript-bcrypt
    <script type="text/javascript" src='js/bCrypt.js'></script>
    <script type="text/javascript" src='js/isaac.js'></script>
    -->
    <style>
    </style>

    <script data-main="node_modules" src="requirejs/require.js"></script>
    <script type="text/javascript" src="node-modules/requirejs/require.js"></script>
    <script type="text/javascript" src="requirejs-config.js"></script>
    <script>
      require([]);
      function setup () {
        try{
            document.addEventListener("deviceready", function() {
                debug2(cordova.backgroundapp.resumeType);
                if (cordova.backgroundapp.resumeType == 'launch') {
                    onDeviceReady();
                } else {
                    debug2('ready3?');
                }
            }, false);
            document.addEventListener("resume", function() {
                debug2('resume');
                debug2(cordova.backgroundapp.resumeType);
                
                if (cordova.backgroundapp.resumeType == 'normal-launch') {
                    init();
                } else if (cordova.backgroundapp.resumeType == 'programmatic-launch') {
                    // You launched programatically (through cordova.backgroundapp.show() perhaps)
                    // so you should have already called renderUi() from where you called .show().
                } else {
                    debug5('ready3?');
                }
                
            }, false);
        }catch(e){
            debug2(e);
        }
    }
    
    function showSplash() { 
        
        try{
            var splashDuration =1000;
            var fadeDuration=1000;
            navigator.splashscreen.show();
            /*window.setTimeout(function () {
        navigator.splashscreen.hide();
    }, splashDuration - fadeDuration);
             */
            
        }catch(e){
            debug2(e);
        }
        
        //document.addEventListener("menubutton", exitApp, false);
        
        //cordova.backgroundapp.show()
    }

</script>
    <script>
      require.config({
       baseUrl: 'node_modules/',
       paths: {
         jquery: 'jquery/dist/jquery.min.js',
         angular: 'angular/angular.js',
         facebook: 'facebook/debug.js',
         //facebook: '//connect.facebook.net/en_US/sdk/all.js'
       },
       shim: {
         angular: {
             deps: ['jquery'],
             exports: "angular"
         },
         facebook : {
          exports: 'FB'
         }
      },
      });
    </script>

</head>
<body id="body" ng-controller="ctrl" ng-init="init()">
<!--
<body  ng-controller="mainCtrl" onload="onBodyLoad()">
-->

<!--
<span>?{{ctrl.test}}?</span>
-->

<nav ng-show="auth" class="floating-menu">
    <!--
    <img ng-show="auth==null" src="img/pelo.png"/>
    <img avatar user="{{auth}}" onclick="javascript:logout();"/>
    <br/>
    -->
    <span class="dark" ng-click="showPage('rides');">rides</span>
    <span class="dark" ng-click="showPage('groups');">groups</span>
    <span class="dark" ng-click="showPage('messages');">messages</span>
    <span class="dark" ng-click="showPage('settings');">settings</span>
    <span class="dark" ng-click="logout();">logout</span>
</nav>

<div ng-show="auth !=null && viz.messages" id="messages">
    <div ng-show="messages.length==0">
        <img src="img/empty.png">
        <span class="dark">No messages, start some rides, join some groups.</span>
    </div>
    <ul ng-repeat="message in messages">
        <li>
            <hr/>
            <img class="round-image" avatar2 user="{{from}}"/>
            <span>{{message.when}}</span>
            <p>{{message.message}}</p>
        </li>
    </ul>
    <br/>
</div>

<div ng-show="auth !=null && viz.groups" id="groups">
    <div ng-show="groups.length==0">
        <img src="img/empty.png">
        <span class="dark">No groups found, join some groups.</span>
    </div>
    <ul ng-repeat="group in groups">
        <li>
            <img avatar user="{{group}}"/>

            <p ng-click="toggleGroup(group.id);">{{group.name}}
            </p>
            <ul ng-show="!viz['group_users{{group.id}}']" ng-repeat="user in group.members" ng-if="user.id != auth.id">
                <li>
                    <img class="round-image" avatar user="{{user}}"/>
                    <!--
                    <span>{{user.id}}</span>
                    -->
                    <span>{{user.name}}</span>
                    <span>{{distances[user.id]}}</span>
                </li>
            </ul>
        </li>
    </ul>
    <br/>
</div>

<div ng-show="auth && viz.rides">
    <div ng-show="todays_rides.length==0">
        <img src="img/empty.png">
        <span>No rides found, join some rides.</span>
    </div>
    <ul ng-repeat="ride in todays_rides">
        <li>
            <p ng-click="toggleRide(ride.id);" >
              {{ride.description}}
            </p>
            <div id="map"> <!--ng-show="auth && viz.map"-->
                <div ng-attr-id="{{'mapc' + ride.id}}">
                </div>
                <img id="marker" class="hidden">
                <div id="tracking"></div>
            </div>
            <img ng-click="toggleTracking(auth.id,ride.id);" src="img/sat1.png" id="satId{{ride.id}}">
            <img ng-click="toggleRoute(ride.id)" src="img/route.png" id="rideId{{ride.id}}">

            <ul ng-show="!viz['ride_users{{ride.id}}']" ng-repeat="user in ride.participants"
                ng-if="user.id != auth.id">
                <li>
                    <img class="round-image" avatar user="{{user}}"/>
                    <!--
                    <span>{{user.id}}</span>
                    -->
                    <span>{{user.name}}</span>
                    <span>{{distances[user.id]}}</span>
                    <img class="round-image" ride-location user="{{user}}"/>
                    <input class="hidden" id="encoded-polyline7">
                </li>
            </ul>
        </li>
    </ul>
    <br/>
</div>
<img id="working" src="img/sprocket-small.gif" class="spinner">

<div id="following">
</div>

<div class="login" id="login" ng-show="viz.auth">
    <p id="error"><b>Welcome to the Riders app.</b></p>
    <button ng-click="loginFB(username);">login with facebook</button>
    <p class="dark">Or login locally</p>

    <form name="alice" target="_self" ng-submit="login();">
    <table align="center">
      <tr>
      <td>
        <span class="dark">Username or Email</span>
      </td>
      <td>
        <input ng-model="username" type="text" >
      </td>
      </tr>
      <tr>
      <td>
        <span class="dark">Password</span>
      </td>
      <td>
        <input ng-model="password" type="password" >
      </td>
      </tr>
      </table>

      <button ng-click="login(username,password);" type="submit" value="login">login</button>
    </form>
</div>
<!--
</td><td width="500px">
<img id="working" src="img/sprocket.gif" class="shown"/>
-->
<!--
</td>
</tr>
</table>
-->
<p id="demo" ng-show="debug"></p>
</body>
<script type="text/javascript" charset="utf-8">
    //TODO:add as angular service
    function platform() {
      var platforms= new Array("Android", "BlackBerry", "iOS", "webOS", "WinCE", "Tizen");

      try{
        var devicePlatform = device.platform;

          for (var i =0 ; i < platforms.length ;  i ++ ) {
          if (devicePlatform.search(platforms[i]) >= 0) {
            return platforms[i];
          }
          }
        }catch(e) {
          debug2(e);
        }
        return 'Unknown';
    }


    function onDeviceReady() {
      debug2('device ready2');
    }

    var storage = new MyStorage();
    storage.init();

    function onBodyLoad() {
      debug2('bodyload2');
      init();
    }

    var inited = false;

    function init2() { 
      debug2('init2');

      getLocation(function(position){
      alert("success " + JSON.stringify(position));
      },function(x){
      alert("error " + JSON.stringify(x));
      },function(x){
      alert("fatal " +JSON.stringify(x));
      });
    }


    function init() {
      if(inited)
        return;

      try{
        navigator.splashscreen.hide();
      }catch(e){}

      inited = true;
      
      debug2('init');
      checkLogin();

      var p = platform();

      if(p=='iOS' || p== 'Android') {
        peloBaseUrl = "http://10.0.0.69/pelo/rest/view/";
      }

    }

    angular.element(document).ready(function () {
        init();
    });

    var peloApp = angular
            .module('peloApp', ["ngCordova.plugins.facebook"])
            .factory('test', function clientIdFactory() {
                return 'a12345654321x';
            })
            //.config(['$cordovaFacebook', function (cordovaFacebook) {
            //}])
            .directive('spreadsheeet', function($compile){
                return{
                    templateUrl: innerHTML.html
                }
            })
            .controller("ctrl", ["$scope", "$http", "$timeout","$interval", function ($scope, $http, $timeout,$interval) {
//.controller('ctrl',  function ($scope, $timeout) 

                $scope.auth = loadJSON("auth");
                $scope.messages = loadJSON("messages");
                $scope.today_rides = loadJSON("todays_rides");
                $scope.distances = loadJSON("distances");
                $scope.userimages = loadJSON("userimages");
                $scope.rideLocations = loadJSON("rideLocations");
                $scope.lastKnownLocation = loadJSON("lastKnownLocation");
                $scope.groups = loadJSON("groups");

                $scope.viz = {"rides": false, "groups": false, "map": false, "auth": false, "messages": false};
                $scope.defaultPage = "messages";
                $scope.current ;
                
                $scope.debug = true;
                $scope.username="Wozza";
                $scope.password="uyooho00";

                $scope.login = function (username, password) {
                    debug2('login ' + $scope.username +" " +$scope.password);
                    
                    login($scope.username, $scope.password, new function() {
                    debug2("**************");
                    //FIXME 
                    //$scope.showPage($scope.defaultPage);
                    $scope.currentPage=$scope.defaultPage;
                    });
                };

                //var appId = "1027544200612898";
                var appId = "1697342230545684";
                var version ="2.5";

                $scope.loginFB = function (username) {

                    if (username == undefined)  {
                    }

                    try{
                      facebookConnectPlugin.browserInit(appId, version);
                    }catch(e){
                      debug2(e);
                    }

                    facebookConnectPlugin.login(['email', 'public_profile'], function (userData) {
                        facebookConnectPlugin.api('/me?fields=email', null,
                             function(response) {
                                
                                debug2("me: " + JSON.stringify(response));
                                login2(response.email, userData.accessToken);
                                debug2("success" + JSON.stringify(userData));
                                //response.name
                                $scope.showPage('groups');
                             });
                            },
                            function (error) {
                                debug2('fb api error');
                            })
                };

                $scope.logoutFB = function () {
                  facebookConnectPlugin.browserInit(appId, version);
                  facebookConnectPlugin.logout(function(){
                    debug2('fb logout');
                  },
                  function(fail){
                    debug2('fb logout fail');
                  });
                }

                $scope.logout = function (username, password) {
                    $scope.hideAll();
                    stopAllWorkers();
                    storage.clear();
                    $scope.auth = null;

                    try {
                      $scope.logoutFB();
                    } catch (e) {
                      debug2('logout fb error');
                    }
                };

                $scope.toggleRide = function (rideId) {
                    $scope.viz["ride_users" + rideId] = !$scope.viz["ride_users" + rideId];
                };

                $scope.fb = function () {
                    window.open("https://www.facebook.com/dialog/oauth?client_id=1027544200612898&redirect_uri=http://localhost/callback&response_type=code&scope=email&state=db0a5f5b6b98386b93b6bd95c0c7611cdbb746c69c5208da");
                }

                $scope.toggleGroup = function (groupId) {
                    $scope.viz["group_users" + groupId] = !$scope.viz["group_users" + groupId];
                };

                $scope.toggleTracking = function (userId, rideId) {
                    toggleTracking(userId, rideId);
                };

                var p = new Array("rides", "groups", "messages", "settings", "map");

                $scope.hideAll = function (pageId) {
                  p.forEach(function (e, i, a) {
                      if (e == null || e != pageId) {
                      $scope.viz[e] = false;
                      }
                  });
                };

                $scope.showPage = function (pageId) {
                    debug2("show " + pageId);
                    $scope.current = pageId;
                    $scope.hideAll(pageId);
                    $scope.viz[pageId] = true;
                };

                $scope.toggleRoute = function (rideId) {
                    $scope.viz["ride_users" + rideId] = !$scope.viz["ride_users" + rideId];
                    //debug2("ride_users"+rideId + " " + $scope.viz["ride_users"+rideId]);
                    $scope.viz["map"] = $scope.viz["ride_users" + rideId]; //!$scope.viz["map"];
                    //showMap();

                    if ($scope.viz["map"]) {
                        rideRoute(rideId);
                    }
                };

                $scope.$watch("current", function (n, o, scope) {
                  debug2("switched current " + $scope.current);
                  switch($scope.current) {
                    case "messages": 
                      images();
                      messages(currentUserId);
                      break;
                    case "groups": 
                      groups();
                      break;
                    case "rides": 
                      todaysRides();
                      break;
                    default:

                  }
                });

                $scope.$watch("auth", function (n, o, scope) {
                    $timeout(function () {
                        $scope.viz.auth = (n == null);
                    });
                });

                $scope.$watchCollection("rideLocations", function (n, o, scope) {
                    $timeout(function () {
                        if (n != null) {
                            updateDistanceToRiders();
                        }
                    });
                });

                $scope.$watchCollection("todays_rides", function (n, o, scope) {
                    if (n == null) {
                        return;
                    }

                    /*FIXME
                    n.forEach(function (e, i, a) {
                        startWorker("ride" + e.id, function () {
                            checkRidersLocations(e.id);
                        });
                    });
                    */
                });
                //This is all cruft
                $scope.fblogin2 = function () {
                    facebookConnectPlugin.getLoginStatus(function (success) {
                        if (success.status === 'connected') {
                            // The user is logged in and has authenticated your app, and response.authResponse supplies
                            // the user's ID, a valid access token, a signed request, and the time the access token
                            // and signed request each expire
                            console.log('getLoginStatus', success.status);

                            // Check if we have our user saved
                            var user = UserService.getUser('facebook');

                            if (!user.userID) {
                                getFacebookProfileInfo(success.authResponse)
                                        .then(function (profileInfo) {
                                            // For the purpose of this example I will store user data on local storage
                                            UserService.setUser({
                                                authResponse: success.authResponse,
                                                userID: profileInfo.id,
                                                name: profileInfo.name,
                                                email: profileInfo.email,
                                                picture: "http://graph.facebook.com/" + success.authResponse.userID + "/picture?type=large"
                                            });

                                            $state.go('app.home');
                                        }, function (fail) {
                                            // Fail get profile info
                                            console.log('profile info fail', fail);
                                        });
                            } else {
                                $state.go('app.home');
                            }
                        } else {
                            // If (success.status === 'not_authorized') the user is logged in to Facebook,
                            // but has not authenticated your app
                            // Else the person is not logged into Facebook,
                            // so we're not sure if they are logged into this app or not.

                            console.log('getLoginStatus', success.status);

                            $ionicLoading.show({
                                template: 'Logging in...'
                            });

                            // Ask the permissions you need. You can learn more about
                            // FB permissions here: https://developers.facebook.com/docs/facebook-login/permissions/v2.4
                            facebookConnectPlugin.login(['email', 'public_profile'], fbLoginSuccess, fbLoginError);
                        }
                    });
                };
            }])
            .directive("rideLocation", function () {
                return {
                    scope: {},
                    link: function (scope, element, attrs) {
                        var rideId = scope.$parent.ride.id;
                        var userId = scope.$parent.user.id;
                        var user = scope.$parent.user;
                        var rl = scope.$parent.rideLocations;

                        if(rl == null)
                          return ;
                        rl.forEach(function (e, i, a) {
                            if (e.msWhen > new Date().getTime() - (1000 * 60 * 60 * 24 * 25)) {
                                if (e.rideId == rideId && e.userId == userId) {
                                    attrs.$set("src", "img/" + ((user.role == "captain" ) ? "captain.png" : "rider.png"));
                                }
                            }
                        }); //forEach
                    }
                };
            })
            .directive("avatar2", function () {
                return {
                    scope: {},

                    link: function (scope, element, attrs) {
                        var userimages = loadJSON("userimages");
                        var image = userimages["1"];
                        var img="data:image/png;base64,"+image;
                        //FIXME
                        attrs.$set("src", img);
                    }
                };
            })
            .directive("avatar", function () {
                return {
                    scope: {},

                    link: function (scope, element, attrs) {
                        var user = scope.$parent.user;
                        
                        if (user == null)
                            return;

                        var image = user.avatar;

                        if (image == null)
                            return;

                        if (!image.startsWith("http")) {
                            image = "img/" + image;
                        }

                        debug2(image);
                        attrs.$set("src", image);
                    }
                };
            }).filter('myfilter', function () {
                return function (items, name) {
                    var filtered = [];
                    angular.forEach(items, function (item) {
                        if (name == undefined || name == '') {
                            filtered.push(item);
                        }
                    });
                    return filtered;
                };
            })
            .value('peloBaseUrl', function(){
              //peloBaseUrl= "http://10.0.0.68/pelo/rest/view/";
              return peloBaseUrl;
            })
            .controller('HomeCtrl', function($scope, UserService, $ionicActionSheet, $state, $ionicLoading){
            //https://ionicthemes.com/tutorials/about/native-facebook-login-with-ionic-framework
	$scope.user = UserService.getUser();

	$scope.showLogOutMenu = function() {
		var hideSheet = $ionicActionSheet.show({
			destructiveText: 'Logout',
			titleText: 'Are you sure you want to logout? This app is awsome so I recommend you to stay.',
			cancelText: 'Cancel',
			cancel: function() {},
			buttonClicked: function(index) {
				return true;
			},
			destructiveButtonClicked: function(){
				$ionicLoading.show({
				  template: 'Logging out...'
				});

        // Facebook logout
        facebookConnectPlugin.logout(function(){
          $ionicLoading.hide();
          $state.go('welcome');
        },
        function(fail){
          $ionicLoading.hide();
        });
			}
		});
	};
});

/*
Brings the app to the foreground. E.g. Call this in response to a user clicking on a notification.
*/


    /*
     function facebookLogin($cordovaOauth, $http)
     {
     $cordovaOauth.facebook("1633195863589792", ["email", "public_profile"], {redirect_uri: "http://localhost/callback"}).then(function(result){
     displayData($http, result.access_token);
     },  function(error){
     alert("Error: " + error);
     });
     }

     */
    /*

     angular.module("facebookApp", ["ionic", "ngCordova"])
     .controller("mainCtrl", ["$scope", "$cordovaOauth", "$http", function($scope, $cordovaOauth, $http) {
     window.cordovaOauth = $cordovaOauth;
     window.http = $http;
     }]);


     angular.module('tryme3App').factory('SessionPresenters', function ($resource, DateUtils) {

     return $resource('api/session.Presenters/:id', {}, {
     'query': { method: 'GET', isArray: true},
     'get': {
     method: 'GET', isArray: true
     },
     'update': { method:'PUT' }
     });
     });



app.controller('PoniesCtrl', function($scope, ponyService) {
  ponyService.getPonies().then(function(data) {
    $scope.ponies = data;
  }).catch(function() {
    $scope.error = 'unable to get the ponies';
  });
});

app.factory('ponyService', function($http) {
  var getPonies = function() {
    return $http.get('/api/ponies');
  };

  return {
    getPonies: getPonies
  };
});
     */

     function showMap() { 
      debug2("showMap");

       Mapbox.show( {
          style: 'emerald', // light|dark|emerald|satellite|streets , default 'streets'
          margins: {
            left: 0, // default 0
            right: 0, // default 0
            top: 150, // default 0
            bottom: 20 // default 0
          },
          center: { // optional, without a default
            lat: 52.3702160,
            lng: 4.8951680
          },
          zoomLevel: 12, // 0 (the entire world) to 20, default 10
          showUserLocation: false, // your app will ask permission to the user, default false
          hideAttribution: false, // default false, Mapbox requires this default if you're on a free plan
          hideLogo: false, // default false, Mapbox requires this default if you're on a free plan
          hideCompass: false, // default false
          disableRotation: false, // default false
          disableScroll: false, // default false
          disableZoom: false, // default false
          disablePitch: false, // disable the two-finger perspective gesture, default false
          markers: [
            {
              lat: 52.3732160,
              lng: 4.8941680,
              title: 'Nice location',
              subtitle: 'Really really nice location'
            }
          ]
        },

        // optional success callback
        function(msg) {
          debug2("Success :) " + JSON.stringify(msg));
        },

        // optional error callback
        function(msg) {
          debug2("Error " + JSON.stringify(msg));
        }
      );

      Mapbox.addMarkerCallback(function (selectedMarker) {
        debug2("Marker selected: " + JSON.stringify(selectedMarker));
      });

    }
    Mapbox.addMarkers(
  [
    {
      lat: 52.3602160, // mandatory
      lng: 4.8891680, // mandatory
      title: 'One-line title here', // no popup unless set
      subtitle: 'Infamous subtitle!' // can't span multiple lines, so keep it short and sweet
    },
    {
    }
  ]
);
Mapbox.addPolygon(
  {
    points: [
      {
        lat: 52.3832160, // mandatory
        lng: 4.8991680   // mandatory
      },
      {
        lat: 52.3632160,
        lng: 4.9011680
      },
      {
        lat: 52.3932160,
        lng: 4.8911680
      }
    ]
  }
);
</script>

<div id="fb-root">
</div>
    <!--
    <script type="text/javascript" charset="utf-8" src="node_modules/ng-cordova/demo/www/lib/facebookConnectPlugin.js"></script>

-->

</html>
