@import "_variables.scss";
@import "_flexboxgrid.scss";

body {
  font-family: 'graphik', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

span {
  color: $white;
  font-family: 'graphik', 'Helvetica Neue', 'Roboto', Arial, sans-serif;
}

.error {
  color: #FF0000;
}

.hidden {
  display: none;
}

/*
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  margin: 0 0 0 0;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 50%;
  min-height: 50%;
  margin: 0 0 0 0;
}
*/

html {
  background: url(../img/splash.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 40px;
    color: $white;
  }
}

.main-nav {
  xbackground: $teal;
  xpadding: 20px;
}

.main-logo {
  background: $darkgray;
  color: $white;
  padding: 10px;
  font-size: 40px;
  letter-spacing: -1px;

  a {
    color: inherit;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }

  & > a > span {
    color: $pastelBlue;
  }

}

.main-search {
  background: $teal;
  padding: 20px;
}

.main-wrapper {
  margin: 0 auto;
}

.main-content-wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
}

@media screen and (min-width: 1301px) {
  .main-wrapper {
    padding-left: 250px;
  }

  .main-content-wrapper {
    width: 960px;
    padding: 0;
  }
}

.card {
  margin-right: 20px;
}

.margin-r-0 {
  margin-right: 0 !important;
}

// typography
.type-italic {
  //font-family: 'times new roman';
}

div.title {
  align: left;
  float: left;
}

div.right {
  align: right;
  float: left;
}


.round-image {
    border-radius: 100%;
    -o-border-radius: 90%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}
