//https://pugjs.org/api/getting-started.html
doctype html
html(ng-app="peloApp")
    head
        title Pelo Riders App
        //
            link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
            link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel='stylesheet', href='/css/bundle.css')
        script(src="js/bundle.js", type="text/javascript",defer="true",aysnc="false")
        script(type="text/javascript", charset="utf-8", src="cordova.js")
        script(type="text/javascript", charset="utf-8", src="cordova_plugins.js")
        //script(type="text/javascript", charset="utf-8", src="plugins/cordova-plugin-facebook4/www/facebook-native.js")

        link(rel='stylesheet', href='/css/bundle.css')
    body(id="app",ng-controller="main")
        pelo-app(state="state", client="client" watch-depth="reference")
        div
            img(id="bg" src="img/sprocket.gif" alt="")
            a(href="/#/")
                span login
        div#fb-root
