doctype html
html

  head
    title Total Weight
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/bundle.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")

  body
    div#main-wrapper
      div#total-weight

    //script(src="https://code.jquery.com/jquery-1.12.3.js",integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc=",crossorigin="anonymous")
    script(src="/js/bundle.js", type="text/javascript")