<!DOCTYPE html>
<html ng-app="peloApp">
<head>
    <!--
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi">
    <meta http-equiv="Content-Security-Policy" content=""/>
    -->

    <title>Pelo Riders App</title>

    <link rel="stylesheet" href="css/bundle.css"/>
    <script type="text/javascript" charset="utf-8" src="js/bundle.js"></script>

    <!--
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova_plugins.js"></script>

    <script type="text/javascript" charset="utf-8" src="./node_modules/ng-cordova/dist/ng-cordova.js"></script>
    <script type="text/javascript" charset="utf-8"
            src="./node_modules/ionic/node_modules/ionic-app-lib/ionic.js"></script>

    <script type="text/javascript" charset="utf-8" src="./node_modules/ng-cordova/src/plugins/facebook.js"></script>

-->


    <!--
    <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="https://cdn.rawgit.com/driftyco/ng-cordova/master/dist/ng-cordova.min.js"></script>
    <script src="https://cdn.rawgit.com/nraboy/ng-cordova-oauth/master/dist/ng-cordova-oauth.min.js"></script>
    -->

    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmSX4qpXNc1-aREjx3lsHqmtmpMFPd8Bk&callback=initMap2" defer async></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    -->

    <!--
    <script src='./node_modules/mapbox/dist/mapbox-sdk.js'></script>

    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <link href="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css" rel="stylesheet">
    -->

    <!-- https://github.com/nevins-b/javascript-bcrypt
    <script type="text/javascript" src='js/bCrypt.js'></script>
    <script type="text/javascript" src='js/isaac.js'></script>
    -->
</head>

<body id="app" ng-controller="main" ng-init="init()">
<react-component name="App" props="props" watch-depth="reference"/>
<!--
<react-bridge name="App2" />
    -->

<!--
<body  ng-controller="mainCtrl" onload="onBodyLoad()">
-->

<!--
<span>?{{ctrl.test}}?</span>
    -->

<nav ng-show="auth" class="floating-menu">
    <!--
    <react-bridge name="App">
        -->
    <!--
    -->
    <!--
    <img ng-show="auth==null" src="img/pelo.png"/>
    <img avatar user="{{auth}}" onclick="javascript:logout();"/>
    <br/>
    -->
    <span class="dark" ng-click="showPage('rides');">rides</span>
    <span class="dark" ng-click="showPage('groups');">groups</span>
    <span class="dark" ng-click="showPage('messages');">messages</span>
    <span class="dark" ng-click="showPage('settings');">settings</span>
    <span class="dark" ng-click="logout();">logout</span>
</nav>

<div ng-show="auth !=null && viz.messages" id="messages">
    <div ng-show="messages.length==0">
        <img src="img/empty.png">
        <span class="dark">No messages, start some rides, join some groups.</span>
    </div>
    <ul ng-repeat="message in messages">
        <li>
            <hr/>
            <img class="round-image" avatar2 user="{{from}}"/>
            <span>{{message.when}}
        </span>

            <p>{{message.message}}</p>
        </li>
    </ul>
    <br/>
</div>

<div ng-show="auth !=null && viz.groups" id="groups">
    <div ng-show="groups.length==0">
        <img src="../src/img/empty.png">
        <span class="dark">No groups found, join some groups.</span>
    </div>
    <ul ng-repeat="group in groups">
        <li>
            <img avatar user="{{group}}"/>

            <p ng-click="toggleGroup(group.id);">{{group.name}}
            </p>
            <ul ng-show="!viz['group_users{{group.id}}']" ng-repeat="user in group.members" ng-if="user.id != auth.id">
                <li>
                    <img class="round-image" avatar user="{{user}}"/>
                    <!--
                    <span>{{user.id}}</span>
                    -->
                    <span>{{user.name}}</span>
                    <span>{{distances[user.id]}}</span>
                </li>
            </ul>
        </li>
    </ul>
    <br/>
</div>

<div ng-show="auth && viz.rides">
    <div ng-show="todays_rides.length==0">
        <img src="img/empty.png">
        <span>No rides found, join some rides.</span>
    </div>
    <ul ng-repeat="ride in todays_rides">
        <li>
            <p ng-click="toggleRide(ride.id);">
                {{ride.description}}
            </p>

            <div id="map"> <!--ng-show="auth && viz.map"-->
                <div ng-attr-id="{{'mapc' + ride.id}}">
                </div>
                <img id="marker" class="hidden">

                <div id="tracking"></div>
            </div>
            <img ng-click="toggleTracking(auth.id,ride.id);" src="img/sat1.png" id="satId{{ride.id}}">
            <img ng-click="toggleRoute(ride.id)" src="img/route.png" id="rideId{{ride.id}}">

            <ul ng-show="!viz['ride_users{{ride.id}}']" ng-repeat="user in ride.participants"
                ng-if="user.id != auth.id">
                <li>
                    <img class="round-image" avatar user="{{user}}"/>
                    <!--
                    <span>{{user.id}}</span>
                    -->
                <span>{{user.name}}
            </span>
                    <span>{{distances[user.id]}}</span>
                    <img class="round-image" ride-location user="{{user}}"/>
                    <input class="hidden" id="encoded-polyline7">
                </li>
            </ul>
        </li>
    </ul>
    <br/>
</div>
<img id="working" src="../src/img/sprocket-small.gif" class="spinner">

<div id="following">
</div>

<div class="login" id="login" ng-show="viz.auth">
    <p id="error">
        <b>Welcome to the Riders app.</b>
    </p>
    <button ng-click="loginFB(username);">login with facebook</button>
    <p class="dark">Or login locally</p>

    <form name="alice" target="_self" ng-submit="login();">
        <table align="center">
            <tr>
                <td>
                    <span class="dark">Username or Email</span>
                </td>
                <td>
                    <input ng-model="username" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <span class="dark">Password</span>
                </td>
                <td>
                    <input ng-model="password" type="password">
                </td>
            </tr>
        </table>

        <button ng-click="login(username,password);" type="submit" value="login">login</button>
    </form>
</div>
<!--
</td>
<td width="500px">
<img id="working" src="../src/img/sprocket.gif" class="shown"/>
-->
<!--
</td>
</tr>
</table>
-->
<p id="demo" ng-show="debug"></p>
</body>
<!--
        <script type="text/javascript" charset="utf-8">


    </script>
    -->


<div id="fb-root">
</div>
<!--
<script type="text/javascript" charset="utf-8" src="node_modules/ng-cordova/demo/www/lib/facebookConnectPlugin.js"></script>

-->

</html>
